.col-left {
        max-width: 66%;
        flex-basis: 66%;
        padding: 0 15px 30px;
  }
  .col-right {
        max-width: 33%;
        flex-basis: 33%;
        padding: 0 15px 30px;
  }
  .col-left p,
  .col-right p
  {
    font-size: 1.6rem;
    color: #fff;
    margin-bottom: 1.3em;
  }
  .market-slide {
        display: none;
  }
  @media (max-width: 600px) {
        .col-left,
        .col-right {
        display: none;
    }
    .market-slide {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
  }
  